div {
  border: solid 1px black;
  width: 200px;
  margin: auto;

}

p{
text-align: center;
  width: 200px;
}

#head{
  text-align: center;
  font-size: 50px;
}

h2{
  text-align: center;
}

form{
  margin: auto;
  border: black 1px solid;
  width: 200px;
}
